<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>

<div id="header-container">
  <div id="header">
    <div id="bulletin-board-left-menu">
      <%= image_tag 'menu-glyph.png', id:"menu-button"%>
      <div class="typeio-button-new"><%= image_tag 'dialogue-box-pencil-glyph.png'%><%= link_to 'New Typeio', new_bulletin_board_typeio_path(@bulletin_board) %></div>

    </div>
    <div id="title-container">
      <% if current_user.bulletin_board == @bulletin_board %> <!-- DISPLAY CORRECT BOARD NAME-->
      <h1><%=current_user.first_name%>'s Board</h1>
      <% else %>
      <h1><%=@bulletin_board.group.name%>'s Board</h1>
      <%end%>
    </div>
    <div id="bulletin-board-right-menu">
      <p>needs formatting -> Hello <%=current_user.first_name %> <%=current_user.last_name%></p>
      <%= link_to "Groups |", groups_path %>
      <%= link_to " User Settings |", edit_user_registration_path %>
      <%= link_to " Personal Board |", root_path%>
      <%= link_to 'Log Out',  destroy_user_session_path %>
    </div>
  </div>
</div>
