<%= render 'header' %>
<%= render 'sidebar' %>

<% if flash[:notice] %>
    <div class="notice-r"><%= flash[:notice] %></div>
<% end %>

<div id="sort-container">
  <div id="sort-likes-button"><%= button_to 'sort by likes', showByLikes_bulletin_board_path(@bulletin_board), method: :get%></div>
  <div id="sort-date-button"><%= button_to 'sort by date', bulletin_board_path(@bulletin_board), method: :get%></div>
</div>

<!-- RENDER PINNED POSTS FIRST ALWAYS-->
<div id="typeio-list">
  <% @ptypeios.each do |typeio| %>
    <%if typeio.ispriority == true %>
    <div class="typeio-cell typeio-cell-pinned">
      <div id="typeio-pinned-badge-container"><p><i>pinned</i><p></div>
      <div class="typeio-date"><p><i>On <%= friendly_date(typeio.created_at) %></p></i></div>
      <div class="typeio-subject"><p><%= typeio.subject %></p></div>
      <div class="typeio-body"><p><%= typeio.body %></p></div>
      <div id="typeio-button-container">
        <div id="typeio-like-container">
          <p><%= typeio.get_likes.size - typeio.get_dislikes.size %></p>
          <%= link_to image_tag('icons/like.svg', id:"like-button", class:"typeio-button svg"), like_bulletin_board_typeio_path(:bulletin_board_id => typeio.bulletin_board, :id => typeio), method: :put%>
          <%= link_to image_tag('icons/dislike.svg', id:"dislike-button", class:"typeio-button svg"), dislike_bulletin_board_typeio_path(:bulletin_board_id => typeio.bulletin_board, :id => typeio), method: :put %>
        </div>

       <!-- TEMP...-->

        <div id="typeio-info-button-container">
          <%= link_to image_tag('icons/speech-bubble-22.svg', id:"comments-button", class:"typeio-button svg"), typeio_comments_path(typeio)%><%=link_to typeio.comment.count,typeio_comments_path(typeio)%>
          <%= link_to image_tag('icons/bookmark.svg', id:"pin-button", class:"typeio-button svg"), pin_bulletin_board_typeio_path(:bulletin_board_id => typeio.bulletin_board, :id => typeio), method: :patch %>
        </div>

        <!-- ONLY ALLOW A USER TO EDIT/DESTROY IF THE POST IS THEIRS! -->
        <div id="typeio-user-buttons">
          <%if typeio.user == current_user%>
            <%= link_to image_tag('icons/edit.svg', id:"edit-button", class:"typeio-button svg"), edit_bulletin_board_typeio_path(@bulletin_board,typeio) %>
            <%= link_to image_tag('icons/garbage.svg', id:"delete-button", class:"typeio-button svg"), bulletin_board_typeio_url(@bulletin_board,typeio), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
        </div>
        <%end%><!-- END RENDER PINNED POSTS-->
      </div>
    </div>
  <% end %>
</div>

<!-- RENDER THE REST OF THE POSTS...-->
<div id="typeio-list">
  <% @typeios.each do |typeio| %>
    <%if typeio.ispriority == false %>
    <div class="typeio-cell">
      <div class="typeio-date"><p><i>On <%= friendly_date(typeio.created_at) %></p></i></div>
      <div class="typeio-subject"><p><%= typeio.subject %></p></div>
      <div class="typeio-body"><p><%= typeio.body %></p></div>
      <div id="typeio-button-container">
        <div id="typeio-like-container">
          <p><%= typeio.get_likes.size - typeio.get_dislikes.size %></p>
          <%= link_to image_tag('icons/like.svg', id:"like-button", class:"typeio-button svg"), like_bulletin_board_typeio_path(:bulletin_board_id => typeio.bulletin_board, :id => typeio), method: :put%>
          <%= link_to image_tag('icons/dislike.svg', id:"dislike-button", class:"typeio-button svg"), dislike_bulletin_board_typeio_path(:bulletin_board_id => typeio.bulletin_board, :id => typeio), method: :put %>
        </div>
        <div id="typeio-info-button-container">
          <%= link_to image_tag('icons/speech-bubble-22.svg', id:"comments-button", class:"typeio-button svg"), typeio_comments_path(typeio)%><%=link_to typeio.comment.count,typeio_comments_path(typeio)%>
          <%= link_to image_tag('icons/bookmark.svg', id:"pin-button", class:"typeio-button svg"), pin_bulletin_board_typeio_path(:bulletin_board_id => typeio.bulletin_board, :id => typeio), method: :patch %>
        </div>
        <!-- ONLY ALLOW A USER TO EDIT/DESTROY IF THE POST IS THEIRS! -->
        <div id="typeio-user-buttons">
          <%if typeio.user == current_user%>
              <%= link_to image_tag('icons/edit.svg', id:"edit-button", class:"typeio-button svg"), edit_bulletin_board_typeio_path(@bulletin_board,typeio) %>
              <%= link_to image_tag('icons/garbage.svg', id:"delete-button", class:"typeio-button svg"), bulletin_board_typeio_url(@bulletin_board,typeio), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
        </div>
      </div>
    </div>
  <% end %>
<%end%><!-- END RENDER REGULAR POSTS-->

</div>
