<%= form_for(@typeio, :url => bulletin_board_typeios_path(BulletinBoard.find(params[:bulletin_board_id]))) do |f| %>
  <% if @typeio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@typeio.errors.count, "error") %> prohibited this typeio from being saved:</h2>

      <ul>
      <% @typeio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
