<%= form_for(@typeio, :url => bulletin_board_typeios_path(@bulletin_board.id, @typeio.id), method: :post) do |f| %>
  <% if @typeio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@typeio.errors.count, "error") %> prohibited this typeio from being saved:</h2>

      <ul>
      <% @typeio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :subject, placeholder:"Subject" %>
    <%= f.text_area :body, placeholder:"New Post..." %>
  </div>
  <div id="new-typeio-button-container">
    <div class="actions" id="typeio-publish-button">
      <%= f.submit %>
    </div>
    <div id="typeio-cancel-button"
      <%= link_to 'Cancel', @typeio.bulletin_board %>
    </div>
  </div>
<% end %>
