<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>

<div id="header-container">
  <div id="header">
    <div id="bulletin-board-left-menu">
      <div style="height:42px; float:left;" onclick="showSidebarMenu()">
        <%= image_tag 'icons/menu-1.svg', id:"menu-button", class:"svg", href:"javascript:void(0);", onclick:"showSidebarMenu()"%>
      </div>
    </div>
      <div id="title-container">
      <% if current_user.bulletin_board == @bulletin_board %> <!-- DISPLAY CORRECT BOARD NAME-->
      <h1><%=current_user.first_name%>'s Board</h1>
      <% else %>
      <h1><%=@bulletin_board.group.name%>'s Board</h1>
      <%end%>
    </div>
  </div>
</div>
