<%= render 'header' %>
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <h3><%= @typeio.subject %></h3>
    <h1><%= @typeio.body %></h1>

   <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>

        <!-- ONLY ALLOW EDIT/DESTROY IF COMMENT BELONGS TO CURRENT USER!-->
        <%if comment.user == current_user%>
        <td><%= link_to 'Edit', edit_typeio_comment_path(comment,@typeio) %></td>
        <td><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_typeio_comment_path %>
<%= link_to 'Back to board', @typeio.bulletin_board %>
